<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
       <link href="employees.css" rel="stylesheet" type="text/css">
       <title>Check-in App</title>
    </head>
    <body>
        <div class="grid-container centered">
            <div class="grid-100">
                <div class="contained">
                    <div class="grid-100">
                        <div class="heading">
                            <h1>Workplace Intranet</h1>
                        </div>
                    </div>
                    <section class="grid-70 main">
                        <h2>Who is in the Office?</h2>
                        <p>this is a little widget that will dynamically show who is in the office and who is not</p>
                    </section>
                    <aside class="grid-30 list">
                        <h2>Meeting Rooms</h2>
                        <div id="roomList">

                        </div>
                        <h2>Employee Office Status</h2>
                        <div id="employeeList">

                            <script type="text/template" class="template">

                                <ul class="bulleted">
                                   <% _.forEach(employeeArray, function(employeeObj) { %>
                                      <!--% console.log(<%= employeeObj %>); %-->
                                         <% if(employeeObj.inOffice === true) { %>
                                           <li class="in" data-id="<%= employeeObj.id %>" data-state="<%= employeeObj.inOffice %>">
                                         <% } else {
                                           $('#employeeList').find('[data-id="employeeObj.id"]').data("state",false)%>
                                           <li class="out" data-id="<%= employeeObj.id %>" data-state="<%= employeeObj.inOffice %>">
                                           <button onclick="updateState(<%= employeeObj.id %>)"><%= employeeObj.name %></button>
                                         <% } %>
                                       </li>
                                   <% }); %>
                                </ul>

                            </script>

                        </div>
                    </aside>
                    <footer class="grid-100">
                        <p>Copyright, ObiCorporation</p>
                    </footer>
                </div>
            </div>
        </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="lodash.min.js"></script>
    <script src="getEmployees.js"></script>
    <!--script type="text/javascript">



    </script-->

    </body>
</html>
