<h1><%= @user.name %>'s Profile Page</h1>


<!-- SHOW USER GROUPS WHEN ASSOC AVAILABLE -->
<% if @user.user_groups %>
	<h4>JOINED USER GROUPS:</h4>
	<ul>
	<% @user.user_groups.each do |user_group| %>
		<li><a href="/user_groups/<%= user_group.id %>"><%= user_group.name %></a></li>
	<% end %>
	</ul>
<% end %>


<h4>ALL AVAILABLE USER GROUPS:</h4>
<ul>
	<% @user_groups.each do |user_group| %>
		<li>
			<%= "<a href='/user_groups/#{ user_group.id }'>#{ user_group.name }</a> | " +
			"<a href='/user_groups/#{ user_group.id }/join'>JOIN!</a>" unless @user.user_groups.include?(user_group) %>
		</li>
	<% end %>
</ul>

<br>
<br>
<br>
<br>

<p><a href="/user_groups/new">CREATE NEW USER GROUP</a></p>